body {
  background-color: honeydew;
}

.garden {
  border: 2px solid maroon;
  padding: 2px;
  gap: 2px;
}

.garden p {
  margin: 0;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: wheat;
  text-align: center;
}
#level-1 {
  display: grid;
  grid-template-areas: "peas onions";
}

#level-2 .peas {
  grid-column: span 2;
}
#level-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#level-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
#level-3 .onions {
  grid-column: span 2;
}
#level-3 .tomatoes {
  grid-column: span 2;
}
#level-3 .carrots {
  grid-column: span 3;
}
