body {
  background-color: honeydew;
}

.garden {
  border: 2px solid maroon;
  padding: 2px;
  gap: 2px;
}

.garden p {
  margin: 0;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: wheat;
  text-align: center;
}
#level-1 {
  display: grid;
  grid-template-areas: "peas onions";
}

#level-2 .peas {
  grid-column: span 2;
}
#level-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#level-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
#level-3 .onions {
  grid-column: span 2;
}
#level-3 .tomatoes {
  grid-column: span 2;
}
#level-3 .carrots {
  grid-column: span 3;
}

#level-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#level-4 .peas {
  grid-column: span 2;
}
#level-4 .onions {
  grid-row: span 2;
}
#level-4 .carrots {
  grid-row: 1;
  grid-column: 4;
  grid-row: span 2;
}
#level-4 .tomatoes {
  grid-row: 2;
}
#level-4 .lettuce {
  grid-row: 2;
}

#level-5 {
  display: grid;
  grid-template-columns: repeat (5, 1fr);
  grid-template-rows: repeat (3, 1fr);
}

#level-5 .carrots {
  grid-row: 1 / 4;
  grid-column: 1;
}
#level-5 .onions {
  grid-column: 3;
  grid-row: 1 / 3;
}
#level-5 .lettuce {
  grid-column: 5 / 6;
  grid-row: 1;
}
#level-5 .tomatoes {
  grid-column: 2 / 5;
  grid-row: 3;
}
#level-5 .peas {
  grid-row: 2;
  grid-column: 4 / 6;
}

#level-6 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#level-6 .carrots {
  grid-row: 1;
  grid-column: 1 / 6;
}

#level-6 .onions {
  grid-column: 1;
  grid-row: 2 / 4;
}
#level-6 .peas {
  grid-row: 2 / 4;
  grid-column: 2 / 5;
}
#level-6 .tomatoes {
  grid-column: 5;
  grid-row: 2 / 4;
}

#level-6 .lettuce {
  grid-column: 1 / 6;
}
